main {
    width: 100%;
}
#promo {
    margin: auto;
    width: 390px;
    height: 650px;
    background-image: url(../images/BackgroundPromo.JPG);
    background-size: cover;
    
}
@media (min-width: 500px) {
    #promo {
        width: 450px;
        height: 750px;
    }
}
@media (min-width: 900px) {

}