main {
    width: 100%;
    display: flex;
    flex-direction: column;
}
main section {
    border: 2px solid #890C99;
    margin:  25px auto;
    border-radius: 10px;
    width: 90%;
}
main section img{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.499);
    width: 100%;
}
section article h3{
    font-size: 2em;
    text-align: left;
    margin: 10px 10px 10px 15%;
}
section article:nth-child(4) p{
    font-size: 1.5em;
    font-weight: bold;
    text-align: end;
    margin: 0 5px 5px 0;
}
section article button a{
    display: block;
    color: black;
}
section article button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
section article button:hover {
    background-color: #890C99;
    color: beige;
}
@media (min-width:600px) {
    main{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    main section {
        width: 40%;
    }
    section article h3{
        font-size: 2em;
        text-align: left;
        margin: 10px 10px 10px 10%;
    }
    
}
@media (min-width:900px) {
    main section {
        width: 30%;
    }
    
}