/*                                general                               */
main{
    width: 70%;
    margin: auto;
}
main img { 
    width: 100px;

}
main section {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
main section h2{
    width: 100%;
}
main section article{
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}
/*             partie redirection verte les reseaux et plateforme           */
#general {
    width: 100%;
}
#general img{
    width: 50px;
}
main section article:nth-child(even){
    width: 30%;
}
main section article:nth-child(odd){
    width: 70%;
}
main section article img{
    width: 30px;
}
/*                      partie formulaire                    */
#formulaire,
form{
    width: 100%;
}
#formulaire article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#formulaire article label{
    text-align: left;
    margin-bottom: 5px;
    width: 100%;
}
#formulaire article input,
#formulaire article textarea,
#formulaire article button{
    text-align: left;
    border-radius: 5px;
    width: 100%;
}
#formulaire article input{
    padding: 5px;
    
}
#formulaire article textarea{
    height: 100px;
}
#formulaire article button{
    text-align: center;
    border-radius: 10px;
    color: #890C99;
    padding: 10px 0;
    transition-duration:  0.7s;
}
#formulaire article button:hover{
    color: beige;
    background-color: #890C99;
}
@media (min-width:600px) {
    #general img{
        width: 70px;
    }
    /*             partie redirection verte les reseaux et plateforme           */
    main section article img{
        width: 50px;
    }
    /*                      partie formulaire                    */
    #formulaire {
        margin: auto;
        width: 80%;
    }
}
@media (min-width:900px) {
    /*             partie redirection verte les reseaux et plateforme           */
    main section {
        text-align: center;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
    main section article {
        margin: 20px auto;
    }
    main section:first-child {
        display: flex;
    }
    #membres h2,
    #plateforme h2 {
        grid-area: 1 / 1 / 2 / 4;
    }
    .crakk {
        grid-area: 2 / 1 / 3 / 2;
    }
    .narbo {
        grid-area: 2 / 2 / 3 / 3;
    }
    .snef {
        grid-area: 2 / 3 / 3 / 4;
    }
    .contactCrakk {
        grid-area: 3 / 1 / 4 / 2;
    }
    .contactNarbo {
        grid-area: 3 / 2 / 4 / 3;
    }
    .contactSnef {
        grid-area: 3 / 3 / 4 / 4;
    }
    #plateforme img {
        width: 35px;
    }
    /*                      partie formulaire                    */
    #formulaire {
        display: block;
        margin: auto;
        width: 60%;
    }
}